body{
    margin: 0%;
    background-color: #E8E8F2;
    display: grid;
    grid-template-columns: repeat(10,1fr) ;
    grid-template-rows: 80px 60px repeat(8,1fr);
}

@media screen and (max-width: 600px) {
    body {
        padding: 20px;
    }

    input[type="text"],
    input[type="password"],
    input[type="submit"] {
        width: 100%;
    }
}

.tête {
    background-color: #1E4F9D;
    width: 100%;
    grid-column: 1 / -1; /* elmt prend toute la ligne */
    grid-row: 1; /* elmt dans la première ligne */
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #E8E8F2;
    text-align: center;
    padding: 20px 0; 
    box-sizing: border-box; 
}

.tête a {
    text-decoration: none;
    color: inherit; /* pour garder la couleur du parent */
    display: inline-block; 
    margin-left: 20px; 
}

.logo{
    width: 80%;
    margin: auto;
    grid-column: 1 / 2; /* elmt prend toute la ligne */
    grid-row: 1;
    position: relative;
}

h1 {
    margin-left: 1em;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #ffffff;
    font-family: 'Exo', sans-serif;
    font-size: 40px;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    grid-column: 1 / -1; /* elmt prend toute la ligne */
    grid-row: 2;
}

table{
    grid-column: 2 / 8; 
    grid-row: 3;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3%;
}

body{
    margin: 0%;
    background-color: #E8E8F2;
    display: grid;
    grid-template-columns: repeat(10,1fr) ;
    grid-template-rows: 80px 60px repeat(8,1fr);
}

@media screen and (max-width: 600px) {
    body {
        padding: 20px;
    }

    input[type="text"],
    input[type="password"],
    input[type="submit"] {
        width: 100%;
    }
}

.tête {
    background-color: #1E4F9D;
    width: 100%;
    grid-column: 1 / -1; /* elmt prend toute la ligne */
    grid-row: 1; /* elmt dans la première ligne */
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #E8E8F2;
    text-align: center;
    padding: 20px 0; 
    box-sizing: border-box; 
}

.tête a {
    text-decoration: none;
    color: inherit; /* pour garder la couleur du parent */
    display: inline-block; 
    margin-left: 20px; 
}

.logo{
    width: 80%;
    margin: auto;
    grid-column: 1 / 2; /* elmt prend toute la ligne */
    grid-row: 1;
    position: relative;
}

h1 {
    margin-left: 1em;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #ffffff;
    font-family: 'Exo', sans-serif;
    font-size: 40px;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    grid-column: 1 / -1; /* elmt prend toute la ligne */
    grid-row: 2;
}

table{
    grid-column: 2 / 8; 
    grid-row: 3;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3%;
}
