
body{
    margin: 0%;
    height: 100vh;
    background-color: #E8E8F2;
    display: grid;
    grid-template-columns: repeat(10,1fr) ;
    grid-template-rows:  repeat(10,1fr);
    font-family: Montserrat;
}


@media screen and (max-width: 600px) {
    body {
        padding: 20px;
    }

    input[type="text"],
    input[type="password"],
    input[type="submit"] {
        width: 100%;
    }
}

nav {
    background-color: #1E4F9D;
    width: 100%;
    grid-column: 1 / -1; /* elmt prend toute la ligne */
    grid-row: 1; /* elmt dans la première ligne */
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #E8E8F2;
    text-align: center;
    padding: 20px 0; 
    box-sizing: border-box; 
}

nav a {
    text-decoration: none;
    color: inherit; /* pour garder la couleur du parent */
    display: inline-block; 
    margin-left: 20px; 
}

.logo{
    width: 80%;
    margin: auto;
    grid-column: 1 / 2; /* elmt prend toute la ligne */
    grid-row: 1;
    position: relative;
}



table {
    width: 100%;
    border-collapse: collapse;
 
}

#TableCP
{
    grid-area: 3/1/10/3;
}

#TableCV 
{
    grid-area: 3/4/10/6;
}

form
{
    grid-area: 6/7/10/10;


}
form label
{
    font-size: x-large;
    font-weight: 600;
    grid-area: 3/7/10/10;
}

form input 
{
    grid-area: 4/8/5/9;
    height: 10%;
    margin-top: 10%;
    margin-left: 20%;
    padding-left: 5%;
    background-color: rgba(17, 25, 40, 0);
    border-radius: 10px;
    border: 1.5px solid rgb(49, 49, 49);
    font-size: large;
    font-weight: 600;
    color: #4070FF;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}